[submodule "OS-Project-4"]
	path = OS-Project-4
	url = https://github.com/mdub555/OS-Project-4.git
[submodule "OS-Project-3"]
	path = OS-Project-3
	url = https://github.com/mdub555/OS-Project-3.git
[submodule "OS-Project-2"]
	path = OS-Project-2
	url = https://github.com/mdub555/OS-Project-2.git
[submodule "OS-Project-1"]
	path = OS-Project-1
	url = https://github.com/mdub555/OS-Project-1.git
